
@{
    Layout = null;
}

<h3>Mvc Kamp Tablo Örneği - Kategori</h3>
<br />
<table>
    <tr>
        <td>Deneme</td>
        <td>ID</td>
        <td>Adı</td>
        <td>Açıklama</td>
        <td>Durum</td>
    </tr>
    <tr>
        <td>Deneme</td>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama Yaptık</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Deneme</td>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklama Yaptık</td>
        <td>True</td>
    </tr>
</table>